<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
    <title>My practising webpage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="C:\Users\TH07072018\Desktop\pyflask-001-master\pyflask-001-master\templates\style2.css">
  
</head>
<body>
 <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-branch" href="boostrap.html">
<img src="E:\Tự Học\atn.png" height="80px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
  			data-target="#navbarResponsive">
  			<span class="navbar-toggler-icon"></span>
  		</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link active" href="boostrap.html">Home</a>
    </li>
    <li class="nav-item"><a class="nav-link " href="profile1.html">Profile</a></li>
    <li class="nav-item"><a class="nav-link " href="product.html">Product</a></li>
  </ul>
</div>
      </div>
    </nav>
	<div class ="sidebar">
	<ul>
	<li class="categorytitle">Product Category</li>
	<li><a href="product.html">Super man</a></li>
	<li><a href="teddy.html">Stuffed animals</a></li>
	<li><a href="car.html">Car Toy</a></li>
	</ul>
	</div>
	<div class="main">
	 <div class="producttitle"><p>New product</p></div>
	 <div class="product">
	<ul>
	<li><a href=""><img src="E:\Tự Học\car.png" width="100%"></a>
	<p id="recorner">Product Id : 98052</p>
	<p class="productname">Detail : Lamborghini</p>
	<p class="price">Price : 400$</p>
	</li>
	
	<li ><a href=""><img src="E:\Tự Học\car1.jpg" width="100%"></a>
	<p id="recorner">Product Id : 35689</p>
	<p class="productname">Detail : Iron Car</p>
	<p class="price">Price : 250$</a></p>
	</li>
	<div class="product2">
	<li><a href=""><img src="E:\Tự Học\car2.jpg" width="100%"></a>
	<p id="recorner">Product Id : 05987</p>
	<p class="productname">Detail : Plastic Car</p>
	<p class="price">Price : 150$</p>
	</li>
	<li><a href=""><img src="E:\Tự Học\car3.jpg" width="100%"></a>
	<p id="recorner">Product Id : 54680</p>
	<p class="productname">Detail : Ferrari</p>
	<p class="price">Price : 450$</p>
	</li>
	</div>
	</ul>
	</div>
 <p class="tablecontent">Revenue monthly</p>
<table >

<tr>
<th>ID</th>
<th>Shop</th>
<th>January </th>
<th>Secondary</th>
<th>March</th>
<th>Aprill</th>
</tr>
<tr>
<td>98052</td>
<td>Supercar</td>
<td>1000$</td>
<td>3500$</td>
<td>4500$</td>
<td>1500$</td>
</tr>
<tr>
<td>35689</td>
<td>ATNCar</td>
<td>8000$</td>
<td>1250$</td>
<td>5000$</td>
<td>3550$</td>
</tr>
<tr>
<td>05987</td>
<td>CarToy</td>
<td>8000$</td>
<td>4500$</td>
<td>7200$</td>
<td>5600$</td>
</tr>
<tr>
<td>54680</td>
<td>CarPro</td>
<td>6800$</td>
<td>5050$</td>
<td>22000$</td>
<td>15500$</td>
</tr>

</table>
	</div>

<footer >
    <div class="copyright" style="float: left; margin-top: 2em ;width: 80%;">
  <p>&copy; Copyright 2019. All Rights Reserved. <br>
  <a class="mail" href="mailto:forwardfitness@club.net">atn@store.net</a></p>
</div>
<p>Connect with us </p>
<p><a href="https://www.facebook.com/fptsoftware.official"><img src="D:\hai cao\WEB DESIGN AND DEVELOPMENT\WEB DESIGN\images\fblogo.png" alt ="facebook logo"></a></p>
</footer>

</body>
</html>