<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
    <title>My practising webpage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="C:\Users\TH07072018\Desktop\pyflask-001-master\pyflask-001-master\templates\style2.css">
  
</head>
<body>
 <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-branch" href="boostrap.html">
<img src="E:\Tự Học\atn.png" height="80px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
  			data-target="#navbarResponsive">
  			<span class="navbar-toggler-icon"></span>
  		</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link active" href="boostrap.html">Home</a>
    </li>
    <li class="nav-item"><a class="nav-link " href="profile1.html">Profile</a></li>
    <li class="nav-item"><a class="nav-link " href="product.html">Product</a></li>
  </ul>
</div>
      </div>
    </nav>
	<div class ="sidebar">
	<ul>
	<li class="categorytitle">Product Category</li>
	<li><a href="">Super man</a></li>
	<li><a href="">Stuffed animals</a></li>
	<li><a href="">Doraemon</a></li>
	</ul>
	</div>
	<div class="main">
	 <div class="producttitle"><p>New product</p></div>
	 <div class="product">
	<ul>
	<li><a href=""><img src="E:\Tự Học\sieunhan.jpg" width="100%"></a>
	<p class="productname"><a href="https://www.facebook.com/dochoisentai">Detail</a></p>
	<p class="price"><a href="https://www.w3schools.com/">Buy</a></p>
	</li>
	
	<li ><a href=""><img src="E:\Tự Học\sieunhan.jpg" width="100%"></a>
	<p class="productname"><a href="https://www.facebook.com/dochoisentai">Detail</a></p>
	<p class="price"><a href="https://www.w3schools.com/">Buy</a></p>
	</li>
	<div class="product2">
	<li><a href=""><img src="E:\Tự Học\sieunhan.jpg" width="100%"></a>
	<p class="productname"><a href="https://www.facebook.com/dochoisentai">Detail</a></p>
	<p class="price"><a href="https://www.w3schools.com/">Buy</a></p>
	</li>
	<li><a href=""><img src="E:\Tự Học\sieunhan.jpg" width="100%"></a>
	<p class="productname"><a href="https://www.facebook.com/dochoisentai">Detail</a></p>
	<p class="price"><a href="https://www.w3schools.com/">Buy</a></p>
	</li>
	</div>
	</ul>
	</div>
	</div>	
<footer >
    <div class="copyright" style="float: left; margin-top: 2em ;width: 80%;">
  <p>&copy; Copyright 2019. All Rights Reserved. <br>
  <a class="mail" href="mailto:forwardfitness@club.net">atn@store.net</a></p>
</div>
<p>Connect with us </p>
<p><a href="https://www.facebook.com/fptsoftware.official"><img src="D:\hai cao\WEB DESIGN AND DEVELOPMENT\WEB DESIGN\images\fblogo.png" alt ="facebook logo"></a></p>
</footer>

</body>
</html>